<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gameproject.gamesearch" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PrimaryActivity"
            android:label="@string/title_activity_primary" >
            <intent-filter>
                <action android:name="android.intent.action.StartScreen" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartScreen"
            android:label="@string/title_activity_start_screen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Liste_jeux"
            android:label="@string/title_activity_liste_jeux" >
        </activity>
        <activity
            android:name=".Liste_utilisateurs"
            android:label="@string/title_activity_liste_utilisateurs" >
        </activity>
        <activity
            android:name=".UserInformation"
            android:label="@string/title_activity_game_information" >
        </activity>
        <activity
            android:name=".CreateGame"
            android:label="@string/title_activity_create_game" >
        </activity>
        <activity
            android:name=".Liste_Editor"
            android:label="@string/title_activity_liste__editor" >
        </activity>
        <activity
            android:name=".EditorInformation"
            android:label="@string/title_activity_editor_information" >
        </activity>
        <activity
            android:name=".GameInformation"
            android:label="@string/title_activity_game_information" >
        </activity>
        <activity
            android:name=".List_Genre"
            android:label="@string/title_activity_list__genre" >
        </activity>
        <activity
            android:name=".KindInformation"
            android:label="@string/title_activity_kind_information" >
        </activity>
        <activity
            android:name=".CreateUser"
            android:label="CreateUser" >
        </activity>
        <activity
            android:name=".CreateGenre"
            android:label="@string/title_activity_create_genre" >
        </activity>
        <activity
            android:name=".CreateEditeur"
            android:label="@string/title_activity_create_editeur" >
        </activity>
        <activity
            android:name=".EditorForGame"
            android:label="@string/title_activity_editor_for_game" >
        </activity>
        <activity
            android:name=".AddEditorToGame"
            android:label="@string/title_activity_add_editor_to_game" >
        </activity>
        <activity
            android:name=".AddGenreToGame"
            android:label="@string/title_activity_add_genre_to_game" >
        </activity>
        <activity
            android:name=".GenreForGame"
            android:label="@string/title_activity_genre_for_game" >
        </activity>
    </application>

</manifest>
